@import "bonuses-carousel.css";
@import "bonuses-item.css";
@import "bonuses-carousel-mobile.css";

/* General Styles */

input:focus {
  outline: none;
};

button:focus {
  outline: none;
};